# Byte-compiled / optimized / DLL files
__pycache__/

# Tests
.hypothesis/
.pytest_cache
.coverage

# Environments
.venv

# Neural Network Stuff
/datasets/
/models/

# Zipped Neural Network Stuff
/zipped_Models/
/zipped_TrainingData/

S1A*
download-all*

VV_*
