[scripts]
tests = "pytest --cov-report term-missing --cov=src"

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
hypothesis = "*"
pytest-cov = "*"
mock = "*"
matplotlib = "*"

[packages]
tensorflow = "*"
keras = "*"
typing-extensions = "*"
pyperclip = "*"
asf_hyp3 = "*"

[requires]
python_version = "3.7"
