[scripts]
tests = "pytest --cov-report term-missing --cov=src"

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
hypothesis = "*"
pytest-cov = "*"

[packages]
tensorflow = "*"
matplotlib = "*"
pygdal = "==2.2.3.3"
scipy = "*"
keras = "*"

[requires]
python_version = "3.6"
