[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
hypothesis = "*"
pytest-cov = "*"
mock = "*"
matplotlib = "*"

[packages]
tensorflow = "*"
keras = "*"
typing-extensions = "*"
pyperclip = "*"
asf_hyp3 = "*"
ai-water = {path = ".",editable = true}
ipython = "*"
pygdal = "==3.0.4.*"

[requires]
python_version = "3.7"
